@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: linear-gradient(180deg, #034a6d 0%, #61DAFA 100%);
}

